.*.sw*
config.log
config.status
*.pyc
ve-phone/config.ini
*/bin
*.TXT
third_party/ffmpeg-1.2.6/doc/examples/pc-uninstalled/
third_party/pjproject-2.1.0/build.mak
third_party/pjproject-2.1.0/build/cc-auto.mak
third_party/pjproject-2.1.0/build/os-auto.mak
third_party/pjproject-2.1.0/pjlib-util/build/os-auto.mak
third_party/pjproject-2.1.0/pjlib/build/os-auto.mak
third_party/pjproject-2.1.0/pjlib/include/pj/compat/m_auto.h
third_party/pjproject-2.1.0/pjlib/include/pj/compat/os_auto.h
third_party/pjproject-2.1.0/pjlib/include/pj/config_site.h
third_party/pjproject-2.1.0/pjmedia/build/os-auto.mak
third_party/pjproject-2.1.0/pjmedia/include/pjmedia-codec/config_auto.h
third_party/pjproject-2.1.0/pjmedia/include/pjmedia/config_auto.h
third_party/pjproject-2.1.0/pjsip-apps/src/python/build/
third_party/pjproject-2.1.0/pjsip/build/os-auto.mak
third_party/pjproject-2.1.0/pjsip/include/pjsip/sip_autoconf.h
third_party/pjproject-2.1.0/third_party/build/os-auto.mak
third_party/pjproject-2.1.0/third_party/build/portaudio/os-auto.mak
